{% extends "blog/base.html" %}
{% block title %}
    My Blog
{% endblock title %}

{% block content %}
{% include 'blog/layout/header.html' %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">

    {% for post in posts %}
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{ post.get_absolute_url }}">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle"> {{ post.body|truncatewords:30|linebreaks }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">{{post.author}}</a>
                            on {{post.created}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Pager-->
        {% comment %} <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div> {% endcomment %}

       {% include 'blog/layout/pagination.html' with page=posts %}


{% endblock content %}
