{% extends 'blog/base.html' %}

{% block title %}Share a post{% endblock %}
{% block content %}
{% include 'blog/layout/header.html' %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        {{sent}}
      {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
          "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </p>
      {% else %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <input type="submit" value="Send e-mail">
        </form>
      {% endif %}
    </div>
</div>
{% endblock content %}